/* .reviews{
    display: flex;
    justify-content: center;
} */

/* .review-1{
    margin: 40px;
    height: 280px;
    width: 360px;
    background-color: rgb(246, 243, 239);
} */

/* .upper{
    display: flex;

} */

/* .upper .image{
    margin: 15px 0px 15px 25px;
    width: 25%;
} */
/* .upper .image img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #e21111;
} */

/* .upper .name{
    width: 75%;
} */


          